#form-wrapper.wheels-form
  .form-header.row
    .col-lg-4.col-md-4.col-sm-4.col-xs-4
    .col-lg-4
      %a{href: "#"} Sign Up

  = form_for @owner, url: registration_path("owner") do |f|
    - if @owner.errors.any?
      .error_messages
        %ul
          - for m in @owner.errors.full_messages
            %li= m

    .form-group.row
      .col-lg-2.col-md-3.col-sm-3.col-xs-3
        .form-label Name
      = f.text_field :name, :class => 'form-input', :placeholder => 'Name'

    .form-group.row
      .col-lg-2.col-md-3.col-sm-3.col-xs-3
        .form-label Email
      = f.text_field :email, :class => 'form-input', :placeholder => 'Email'

    .form-group.row
      .col-lg-2.col-md-3.col-sm-3.col-xs-3
        .form-label Password
      = f.password_field :password, :class => 'form-input',
          :placeholder => 'Password'

    .form-group.row
      .col-lg-2.col-md-3.col-sm-3.col-xs-3
        .form-label Confirm
      = f.password_field :password_confirmation, :class => 'form-input',
          :placeholder => 'Confirm Password'

    .form-group.row
      .col-lg-2.col-md-3.col-sm-3.col-xs-3
      %button.btn.btn-primary.form-btn{type: "submit"} Register
