#form-wrapper.wheels-form
  .form-header
    %a{href: "#"} Owner Sign Up

  = form_for @owner, remote: true, authenticity_token: true, url: registration_path("owner"), html: {'data-model' => 'owner'} do |f|
    - if @owner.errors.any?
      .error_messages
        %ul
          - for m in @owner.errors.full_messages
            %li= m

    .form-group
      .row
        = f.text_field :name, :class => 'form-input',
            :placeholder => 'Your name'
      .row
        .help-block

    .form-group
      .row
        = f.text_field :email, :class => 'form-input',
            :placeholder => 'Your email address'
      .row
        .help-block

    .form-group
      .row
        = f.password_field :password, :class => 'form-input',
            :placeholder => 'Password (8 or more letters)'
      .row
        .help-block

    .form-group
      .row
        = f.password_field :password_confirmation, :class => 'form-input',
            :placeholder => 'Confirm password'
      .row
        .help-block

    .form-group.row
      %button.btn.btn-primary.form-btn.login-btn Register
      %a.btn.btn-danger.form-btn.login-btn{href: register_path} User Sign Up
