.cart{id: "cart_#{cart.id}", "data-cart-id" => cart.id}
  .container.size-xs

    .content
      .info.section
        .info-header
          .photo
            -if cart.photos.first
              =image_tag(cart.photos.first.image_url_large)
            -else
              =image_tag(asset_path("cw-logo-no-text.jpg"))
          .actions
            -if user_signed_in?
              .action-link
                %span.glyphicon.glyphicon-ok{"data-toggle" => "modal", "data-target" => "#checkins-modal-#{cart.id}"}
                Checkin
            -if user_signed_in? and not cart.moved
              .action-link.mark-as-moved
                %span.glyphicon.glyphicon-exclamation-sign
                Mark as Moved
            -if owner_signed_in? and not cart.in? current_owner.carts
              .action-link
                %span.glyphicon.glyphicon-briefcase{"data-toggle" => "modal", "data-target" => "#claim-modal-#{cart.id}"}
                Claim
            -if owner_signed_in? and cart.in? current_owner.carts
              .action-link
                %a.glyphicon.glyphicon-pencil{href: edit_cart_path(cart)}
                Edit
            -if cart.green == 1
              .action-link
                %span.glyphicon.glyphicon-leaf
        .info-content
          .subsection
            .col-lg-4
              .rating{"data-score" => cart.rating }
              .reviews="#{cart.reviews.count} reviews"
              .name
                -if cart.name.length < 28
                  =link_to cart.name, cart
                -else
                  =link_to "#{cart.name[0..28]}...", cart
            .col-lg-4
              .categories
                -if cart.categories.first
                  -cart.categories[0..2].each do |item|
                    .item
                      =link_to item.name, "#"
              -if cart.categories.count > 3
                =link_to "#{cart.categories[3..-1].count} more", "#", {"data-toggle" => "modal", "data-target" => "#categories-modal-#{cart.id}", :class => "more-link"}
              -else
                %a{href: "#", "data-toggle" => "modal", "data-target" => "#categories-modal-#{cart.id}", :class => "more-link"}
                  Add a category
            .col-lg-4
              .location
                .map
                  %a.pop-image.pop-image-top{href: "#", "data-title" => cart.moved ? "MOVED": "Address", "data-content" => cart.moved ? "This cart has moved" : cart.address, "data-toggle" => "modal", "data-target" => "#directions-modal-#{cart.id}"}
                    -if Rails.env.production?
                      = image_tag "http://maps.google.com/maps/api/staticmap?size=210x130&sensor=false&zoom=14&markers=#{cart.lat}%2C#{cart.lon}&key=#{SECRETS['google_static']}"
                    -else
                      = image_tag "http://maps.google.com/maps/api/staticmap?size=210x130&sensor=false&zoom=14&markers=#{cart.lat}%2C#{cart.lon}"

        .modal.fade.categories-modal{id: "categories-modal-#{cart.id}", "aria-hidden" => "true", "role" => "dialog", "tabindex" => -1}
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{"data-dismiss" => "modal", type: "button"}
                  %span{"aria-hidden" => "true"} ×
                  %span.sr-only Close
                %h3.modal-title="Categories - #{cart.name}"
              .modal-body
                .categories
                  -cart.categories.each do |item|
                    .item
                      =link_to item.name, "#"
                -if user_signed_in? or owner_signed_in?
                  =render partial: "cart_category_relations/form", locals: {ccr: CartCategoryRelation.new, cart: cart}

        .modal.fade.directions-modal{id: "directions-modal-#{cart.id}", "aria-hidden" => "true", "role" => "dialog", "tabindex" => -1}
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{"data-dismiss" => "modal", type: "button"}
                  %span{"aria-hidden" => "true"} ×
                  %span.sr-only Close
                %h3.modal-title="Directions to #{cart.name}"
              .modal-body
                .directions-body
                  .directions-map{id: "directions-map-#{cart.id}", "data-latitude" => cart.lat, "data-longitude" => cart.lon}
                  .directions-panel{id: "directions-panel-#{cart.id}"}
                    .heading Directions
                    .container
                .wheels-form
                  .form-group
                    %form.search-form
                      .row
                        %input.form-input.location-input#address{name: "lq", placeholder: "Start Address"}
                        %button.hidden{type: "submit"}

        .modal.fade.claim-modal{id: "claim-modal-#{cart.id}", "aria-hidden" => "true", "role" => "dialog", "tabindex" => -1}
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{"data-dismiss" => "modal", type: "button"}
                  %span{"aria-hidden" => "true"} ×
                  %span.sr-only Close
                %h3.modal-title="Claim #{cart.name}"
              .modal-body
                .wheels-form
                  .form-group
                    %form{action: claim_cart_path(cart)}
                      .row
                        %input.form-input.location-input#address{name: "permit_number", placeholder: "Enter permit number"}
                        %button.btn.btn-primary.form-btn{type: "submit"}
                          Claim

        .modal.fade.checkins-modal{id: "checkins-modal-#{cart.id}", "aria-hidden" => "true", "role" => "dialog", "tabindex" => -1}
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{"data-dismiss" => "modal", type: "button"}
                  %span{"aria-hidden" => "true"} ×
                  %span.sr-only Close
                %h3.modal-title="Checkin at #{cart.name}"
              .modal-body
                -if user_signed_in?
                  =render partial: "checkins/form", locals: {cart: cart, checkin: Checkin.new}
