#form-wrapper.wheels-form
  .form-header.row
    .col-lg-4.col-md-4.col-sm-4.col-xs-4
    .col-lg-4
      %a{href: "#"} Submit a cart

  .form-desc.row
    .col-lg-10.col-md-10.col-sm-10.col-xs-10
      Are any of your favorite food carts not yet listed on the site? You can register them in a few clicks, and then begin adding reviews, images, and more!
    .col-lg-2.col-md-2.col-sm-2.col-xs-2

  = form_for @cart, remote: true, html: {:multipart => true, 'data-model' => 'cart'} do |f|
    .form-group
      .row
        .form-label Name
      .row
        = f.text_field :name, :class => 'form-input',
            :placeholder => 'Name of the cart.'
      .row
        .help-block

    .form-group
      .row
        .form-label Permit Number
      .row
        = f.text_field :permit_number, :class => 'form-input',
            :placeholder => 'Check the side of the cart.  If unsure, leave blank.'
      .row
        .help-block

    .form-group
      .row
        .form-label Is this an NYC Green Cart?
      .row
        = f.radio_button :green, 1
        = label_tag(:age_false, "Yes")
        = f.radio_button :green, 2
        = label_tag(:age_false, "No")
        = f.radio_button :green, 0
        = label_tag(:age_true, "Not Sure")
      .row
        .help-block

    .form-group.row
      %span.btn.btn-secondary.form-btn.file-btn
        .label
          Upload Image
        = f.file_field :image, :placeholder => 'Image', :id => 'img-input'
      .row
        .help-block

    .form-group.row
      .img-preview
        %img#img-preview{src: "#"}
      .row
        .help-block

    = f.hidden_field :lat
    = f.hidden_field :lon

    .form-group.row
      = f.submit "Submit", class: "btn btn-primary form-btn"
