= form_for @upload do |f|
  - if @cart.errors.any?

    #error_explanation
      %h2= "#{pluralize(@cart.errors.count, "error")} prohibited this upload from being saved:"
      %ul
        - @cart.errors.full_messages.each do |msg|
          %li= msg

  = f.fields_for :cart do |c|
    %div
      = c.label :name
      %br
      = c.text_field :name

    %div
      = c.label :permit_number
      %br
      = c.text_field :permit_number

    %div
      = c.hidden_field :lat

    %div
      = c.hidden_field :lon

  .actions
    = f.submit 'Save'
