#form-wrapper.wheels-form
  .form-header.row
    .col-lg-4.col-md-4.col-sm-4.col-xs-4
    .col-lg-4
      %a{href: "#"} Sign Up

  = form_for @user, remote: true, authenticity_token: true, url: registration_path("user"), html: {'data-model' => 'user'} do |f|
    - if @user.errors.any?
      .error_messages
        %ul
          - for m in @user.errors.full_messages
            %li= m

    .form-group
      .row
        .form-label Name
      .row
        - if session['devise.auth_data']
          = f.text_field :name, :class => 'form-input', :placeholder => 'Name',
              value: session['devise.auth_data']['info']['name']
        - else
          = f.text_field :name, :class => 'form-input', :placeholder => 'Name'
      .row
        .help-block

    .form-group
      .row
        .form-label Email
      .row
        - if session['devise.auth_data']
          = f.text_field :email, :class => 'form-input', :placeholder => 'Email',
              value: session['devise.auth_data']['info']['email']
        - else
          = f.text_field :email, :class => 'form-input', :placeholder => 'Email'
      .row
        .help-block

    .form-group
      .row
        .form-label Password
      .row
        = f.password_field :password, :class => 'form-input',
            :placeholder => 'Password'
      .row
        .help-block

    .form-group
      .row
        .form-label Confirm
      .row
        = f.password_field :password_confirmation, :class => 'form-input',
            :placeholder => 'Confirm Password'
      .row
        .help-block

    .form-group
      .row
        .form-label Zip Code
      .row
        = f.text_field :zip_code, :class => 'form-input', :autocomplete => "off",
            :placeholder => 'Zip Code'
      .row
        .help-block

    - if session['devise.auth_data']
      = f.hidden_field :provider, value: session['devise.auth_data']['provider']
      = f.hidden_field :uid, value: session['devise.auth_data']['uid']

    .form-group.row
      = f.submit "Register", class: "btn btn-primary form-btn"
