%h2 Sign up

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!

  %div
    = f.label :name
    %br
    - if session['devise.auth_data']
      = f.text_field :name, autofocus: true, value: session['devise.auth_data']['info']['name']
    - else
      = f.text_field :name, autofocus: true

  %div
    = f.label :email
    %br
    - if session['devise.auth_data']
      = f.email_field :email, autofocus: true, value: session['devise.auth_data']['info']['email']
    - else
      = f.email_field :email, autofocus: true

  %div
    = f.label :zip_code
    %br
    = f.text_field :zip_code

  %div
    = f.label :password
    %br
    = f.password_field :password, autocomplete: "off"

  %div
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation, autocomplete: "off"

  - if session['devise.auth_data']
    = f.hidden_field :provider, value: session['devise.auth_data']['provider']
    = f.hidden_field :uid, value: session['devise.auth_data']['uid']

  %div= f.submit "Sign up"

= render "devise/shared/links"
